# Scandard Scaler

### 1. Data Loadind

In [95]:
import pandas as pd

data = pd.read_csv('E:/DS/DataScience/Feature_Scaling/Data/cereal.csv')
display(data.head())

data.drop(0, inplace = True)
data.reset_index(inplace = True)
data.drop('index', axis = 1, inplace = True)
display(data.head())

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
2,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
4,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

### 2. Select Data

### 3. Change Data Type

In [96]:
print(data.calories.dtype)
# Changing data type
data.calories.astype(int)
print(data.calories.dtype)

object

ValueError: cannot convert float NaN to integer

In [97]:
data.dropna(inplace=True)
data = data.astype({'calories':int})
print(data.calories.dtype)

int32

### 4. Scaling

In [98]:
from sklearn.preprocessing import StandardScaler

std_sclr = StandardScaler()

data['calories'] = std_sclr.fit_transform(data.loc[:, ['calories']])

display(data)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,-1.940286,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
1,100% Natural Bran,Q,C,0.789394,3,5,15,2,8,8,135,0,3,1,1,33.983679
2,All-Bran,K,C,-1.940286,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,-3.032158,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
4,Almond Delight,R,C,0.243458,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,0.243458,2,1,250,0,21,3,60,25,3,1,0.75,39.106174
73,Trix,G,C,0.243458,1,1,140,0,13,12,25,25,2,1,1,27.753301
74,Wheat Chex,R,C,-0.302478,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
75,Wheaties,G,C,-0.302478,3,1,200,3,17,3,110,25,1,1,1,51.592193
76,Wheaties Honey Gold,G,C,0.243458,2,1,200,1,16,8,60,25,1,1,0.75,36.187559

In [99]:
data['calories'].mean()

-4.470898126193198e-16