# Scandard Scaler

### 1. Data Loadind

In [7]:
import pandas as pd

data = pd.read_csv('E:/DATA_SCIENCE/DS/DataScience/Feature_Scaling/Data/cereal.csv', usecols=['calories', 'protein'])
display(data.head())

data.drop(0, inplace = True)
data.reset_index(inplace = True)
data.drop('index', axis = 1, inplace = True)
display(data.head())

  calories protein
0      Int     Int
1       70       4
2      120       3
3       70       4
4       50       4

  calories protein
0       70       4
1      120       3
2       70       4
3       50       4
4      110       2

### 2. Select Data

### 3. Change Data Type

In [8]:
print(data.calories.dtype)
# Changing data type
data.calories.astype(int)
print(data.calories.dtype)

object

ValueError: cannot convert float NaN to integer

In [9]:
data.dropna(inplace=True)
data = data.astype({'calories':int})
print(data.calories.dtype)

int32

### 4. Scaling

In [10]:
from sklearn.preprocessing import StandardScaler

std_sclr = StandardScaler()

data['calories'] = std_sclr.fit_transform(data.loc[:, ['calories']])

display(data)

    calories protein
0  -1.940286       4
1   0.789394       3
2  -1.940286       4
3  -3.032158       4
4   0.243458       2
..       ...     ...
72  0.243458       2
73  0.243458       1
74 -0.302478       3
75 -0.302478       3
76  0.243458       2

[74 rows x 2 columns]

In [11]:
data['calories'].mean()

-4.470898126193198e-16