# Max Absolute Scaler

In [1]:
import pandas as pd

# Loadind Data
data = pd.read_csv('E:/DATA_SCIENCE/DS/DataScience/Feature_Scaling/Data/cereal.csv', usecols=['calories', 'protein'])
display(data.head())

  calories protein
0      Int     Int
1       70       4
2      120       3
3       70       4
4       50       4

In [2]:
# Droping unwanted 0th row, and reseting the index
data.drop(0, inplace = True)
data.reset_index(inplace = True)
display(data.head())

   index calories protein
0      1       70       4
1      2      120       3
2      3       70       4
3      4       50       4
4      5      110       2

In [3]:
# Droping unwanted "index column"
data.drop('index', axis = 1, inplace = True)
display(data.head())

  calories protein
0       70       4
1      120       3
2       70       4
3       50       4
4      110       2

In [4]:
# Droup duplicates
data.dropna(inplace=True)
# Typecasting the 'calories' column into int datatype
data = data.astype({'calories':int})
print(data.calories.dtype)

# Taking data into another var to perform MaxAbsScaler manually.
import copy
scaling_data = copy.copy(data)

int32

In [5]:
from sklearn.preprocessing import MaxAbsScaler


# Create a MaxAbsScaler object
scaler = MaxAbsScaler()

# Scale the data
data['calories'] = scaler.fit_transform(data.loc[:,['calories']])

# Print the scaled data
print("Scaled data:\n\n", data.head())

Scaled data:

    calories protein
0    0.4375       4
1    0.7500       3
2    0.4375       4
3    0.3125       4
4    0.6875       2

## Performing Max Absolute Scaling Manually.

In [9]:
import numpy as np

max_absolute_value = scaling_data['calories'].abs().max()
print(f"The max absolute value is: {max_absolute_value}")

scaling_data['calories'] = scaling_data['calories']/max_absolute_value
scaling_data.head()

The max absolute value is: 1.0

   calories protein
0    0.4375       4
1    0.7500       3
2    0.4375       4
3    0.3125       4
4    0.6875       2

### * Lets do above code in single line

In [10]:
scaling_data['calories'] = scaling_data['calories'] / scaling_data['calories'].abs().max()
scaling_data.head()

   calories protein
0    0.4375       4
1    0.7500       3
2    0.4375       4
3    0.3125       4
4    0.6875       2