# Setting Values

In [ ]:
=> This Topic will help you replace or set some values in a particular position inside DataFrame:
    1. Direct update values in a column using assignment operator (=).
    2. Using df.at[] 
    3. Using df.iat[]
    4. Using df.loc[]
    5. Using df.iloc[]

## Data Loading

In [26]:
import pandas as pd

data = pd.read_csv('E:/DS/DataScience/data/nyc_flights.csv')

### Taking a small chunk of data.

In [27]:
# Taking 10 labels of month and day features.

lmt_data = data.loc[0:10, ['month', 'day']]
print(lmt_data)

    month  day
0       6   30
1       5    7
2      12    8
3       5   14
4       7   21
5       1    1
6      12    9
7       8   13
8       9   26
9       4   30
10      6   17

In [28]:
# Generating day and year data 
import random

year, day = [], []

for i in range(0,11):
    year.append(random.randint(2000, 2020))
    day.append(random.randint(1, 31))
    
print(year)
print(day)

[2016, 2011, 2010, 2017, 2008, 2006, 2002, 2009, 2016, 2017, 2014]
[15, 7, 24, 12, 31, 16, 26, 16, 4, 21, 12]

### 1. Direct update values in a column using assignment operator (=).

In [ ]:
SYNTAX :    
    df['column_name'] = [list of elements]
    
1. When ever we try to update values of a entair column by using = it will foloow below steps:
    
    Step-1: First it checks the column_name exist or not
    Step-2: If the column_name exist, it will replace all values of that column.
            If the NOT column_name exists, it will create the column and assign the given values.
2. Only one column we can set up at a time.

In [29]:
# Here year not exist in lmt_data, so it will create year column and assign the given values.

lmt_data['year'] = year
print(lmt_data)

    month  day  year
0       6   30  2016
1       5    7  2011
2      12    8  2010
3       5   14  2017
4       7   21  2008
5       1    1  2006
6      12    9  2002
7       8   13  2009
8       9   26  2016
9       4   30  2017
10      6   17  2014

In [30]:
# Here day is existed in lmt_data, so it will replace all values.

lmt_data['day'] = day
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2      12   24  2010
3       5   12  2017
4       7   31  2008
5       1   16  2006
6      12   26  2002
7       8   16  2009
8       9    4  2016
9       4   21  2017
10      6   12  2014

### 2. Using df.at[]

In [ ]:
SYNTAX:
    
    df.at[position, feature] = value
    
1. Set a value at a particulat index by using this way.

In [31]:
lmt_data.at[5, ['year', 'day']] = 6
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2      12   24  2010
3       5   12  2017
4       7   31  2008
5       1    6     6
6      12   26  2002
7       8   16  2009
8       9    4  2016
9       4   21  2017
10      6   12  2014

In [32]:
lmt_data.at[5:8, ['year', 'day']] = 6
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2      12   24  2010
3       5   12  2017
4       7   31  2008
5       1    6     6
6      12    6     6
7       8    6     6
8       9    6     6
9       4   21  2017
10      6   12  2014

In [33]:
# Checking changed position.
print(lmt_data.at[5, 'month'])

#print(lmt_data.at[5:8, ['year', 'day']]) ------> Not Working It will give an error

1

### 3. Using df.iat[]

In [ ]:
SYNTAX:
    df.iat[row_num, column_num]
    
=> It will help to change element at a paricular row and column

In [34]:
lmt_data.iat[10, 1] = 0
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2      12   24  2010
3       5   12  2017
4       7   31  2008
5       1    6     6
6      12    6     6
7       8    6     6
8       9    6     6
9       4   21  2017
10      6    0  2014

In [14]:
# Checking changed position.
print(lmt_data.iat[10, 1])

0

### 3. Using df.loc[]

In [ ]:
SYNTAX:
    df.loc[row_start : row_end, [clm_1, clm_2, ...]]
    
=> We can change values in multiple columns in a set of rows.

In [35]:
lmt_data.loc[2:6, ['month', 'year']] = 0
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2       0   24     0
3       0   12     0
4       0   31     0
5       0    6     0
6       0    6     0
7       8    6     6
8       9    6     6
9       4   21  2017
10      6    0  2014

In [36]:
# Checking changed position.
print(lmt_data.loc[2:6, ['month', 'year']] )

   month  year
2      0     0
3      0     0
4      0     0
5      0     0
6      0     0

### 5. Using df.iloc[]

In [51]:
lmt_data.iloc[2:6, 1:] = 25
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2       0   25    25
3       0   25    25
4       0   25    25
5       0   25    25
6       0    6     0
7       8    6     6
8       9    6     6
9       4   21  2017
10      6    0  2014

In [52]:
print(lmt_data.iloc[2:6, 1:])

   day  year
2   25    25
3   25    25
4   25    25
5   25    25

#### 5.1 Setting multiple values

In [55]:
# Genarate a 4 by 2 matrix.
four_two_matrix = pd.DataFrame([[1,2,3,4],[2016, 2011, 2016, 2011]]).T
four_two_matrix

   0     1
0  1  2016
1  2  2011
2  3  2016
3  4  2011

In [56]:
lmt_data.iloc[2:6, 1:] = four_two_matrix # Here left side selected size and the right side passed values size must be the same.
print(lmt_data)

    month  day  year
0       6   15  2016
1       5    7  2011
2       0    1  2016
3       0    2  2011
4       0    3  2016
5       0    4  2011
6       0    6     0
7       8    6     6
8       9    6     6
9       4   21  2017
10      6    0  2014