## Checking for Missing Values Using isnull() and notnull()

### 1. Creating Data

In [7]:
import pandas as pd

data = pd.DataFrame([['Rama', 26, None],['Suresh', 25, 'GDP'],['vj', None, 'GDP']],
                   columns=['Name', 'Age', 'Addr'])

display(data)

     Name   Age  Addr
0    Rama  26.0  None
1  Suresh  25.0   GDP
2      vj   NaN   GDP

In [15]:
import pandas as pd

# Checking whether the total data set has null values or not
print("isnull result of DataFrame:")
display(data.isna())

# Checking whether a single column has null values or not
print(f"isnull result of Series: \n\n{data['Addr'].isnull()}")

###############SECOND WAY################

# Checking whether the total data set has null values or not
print("notnull result of DataFrame:")
display(data.notna())

# Checking whether a single column has null values or not
print(f"notnull result of Series: \n\n{data['Addr'].notnull()}")

isnull result of DataFrame:

    Name    Age   Addr
0  False  False   True
1  False  False  False
2  False   True  False

isnull result of Series:

0     True
1    False
2    False
Name: Addr, dtype: bool
notnull result of DataFrame:

   Name    Age   Addr
0  True   True  False
1  True   True   True
2  True  False   True

notnull result of Series:

0    False
1     True
2     True
Name: Addr, dtype: bool