# DataFrame.mean() Function

In [ ]:
SYNTAX:
    
    DataFrame.mean(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)

1. axis:
    axis -----> 0 or 1
    if axis = 0 ----> calculate mean to every feature
    if axis = 1 ----> calculate mean to every row
    By default axis = 0
    
2. skipna:
    => skip the NA/null values when computing the result if skip = True.
    => By default skipna = True

We can use in 2 ways:
    1. Each feature mean
    2. Each and every row mean

## Data Loading

In [2]:
import pandas as pd

data = pd.read_csv('E:/DS/DataScience/data/nyc_flights.csv')
print(data.head())

   year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier tailnum  \
0  2013      6   30       940         15      1216         -4      VX  N626VA
1  2013      5    7      1657         -3      2104         10      DL  N3760C
2  2013     12    8       859         -1      1238         11      DL  N712TW
3  2013      5   14      1841         -4      2122        -34      DL  N914DL
4  2013      7   21      1102         -3      1230         -8      9E  N823AY

   flight origin dest  air_time  distance  hour  minute
0     407    JFK  LAX       313      2475     9      40
1     329    JFK  SJU       216      1598    16      57
2     422    JFK  LAX       376      2475     8      59
3    2391    JFK  TPA       135      1005    18      41
4    3652    LGA  ORF        50       296    11       2

In [3]:
req_data = data.loc[:, ['distance', 'hour', 'minute']]
print(req_data.head(10))

   distance  hour  minute
0      2475     9      40
1      1598    16      57
2      2475     8      59
3      1005    18      41
4       296    11       2
5       733    18      17
6      1411    12      59
7       228    19      20
8      1096     7      25
9       820    13      23

### 1. Mean of all features

In [ ]:
SYNTAX:
    df.mean() or df.mean(axis = 0) or df.mean(0)

In [13]:
print(req_data.mean())

distance    1046.244051
hour          13.174462
minute        31.819704
dtype: float64

### 2. Each and every row mean

In [ ]:
SYNTAX:
    df.mean(1) or df.mean(axis = 1)

In [9]:
print(req_data.mean(1))

print('\n The first row mean: ',(2475 + 9 + 40)/3)

0        841.333333
1        557.000000
2        847.333333
3        354.666667
4        103.000000
            ...
32730    133.000000
32731    756.000000
32732    489.000000
32733    229.333333
32734    145.000000
Length: 32735, dtype: float64

 The first row mean:  841.3333333333334