# Log transformation scale

In [1]:
import pandas as pd

# Loadind Data
data = pd.read_csv('E:/DATA_SCIENCE/DS/DataScience/Feature_Scaling/Data/cereal.csv', usecols=['calories', 'protein'])
display(data.head())

  calories protein
0      Int     Int
1       70       4
2      120       3
3       70       4
4       50       4

In [2]:
# Droping unwanted 0th row, and reseting the index
data.drop(0, inplace = True)
data.reset_index(inplace = True)
display(data.head())

   index calories protein
0      1       70       4
1      2      120       3
2      3       70       4
3      4       50       4
4      5      110       2

In [3]:
# Droping unwanted "index column"
data.drop('index', axis = 1, inplace = True)
display(data.head())

  calories protein
0       70       4
1      120       3
2       70       4
3       50       4
4      110       2

In [4]:
# Droup duplicates
data.dropna(inplace=True)
# Typecasting the 'calories' column into int datatype
data = data.astype({'calories':int})
print(data.calories.dtype)

# Taking data into another var to perform MaxAbsScaler manually.
import copy
scaling_data = copy.copy(data)

int32

In [6]:
import numpy as np

data['calories'] = np.log(data.loc[:,['calories']])

data.head()

   calories protein
0  4.248495       4
1  4.787492       3
2  4.248495       4
3  3.912023       4
4  4.700480       2