# Label Encoder

In [ ]:
Major Points:
    1. Priority issue

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.DataFrame([[1, 'red'], [2, 'green'], [3, 'blue'], [4, 'red']], columns=['ID', "color"])
display(data)

label_encoder = LabelEncoder()
data['color'] = label_encoder.fit_transform(data['color'])

display(data)

   ID  Color
0   1    red
1   2  green
2   3   blue
3   4    red

   ID  Color
0   1      2
1   2      1
2   3      0
3   4      2

### 1. Data Loading

In [3]:

import pandas as pd

# Loading Data
data = pd.read_csv('E:/DS/DataScience/Dealing_With_categorical_Data/data/Nutritional_Content_of_Cereals/cereal.csv')
display(data.head())

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [5]:
print(data['mfr'].unique())
print(data['type'].unique())

['Categorical' 'N' 'Q' 'K' 'R' 'G' 'P' nan 'A']
['Categorical' 'C' 'H' nan]

### 2. Drop null and unwanted values

In [6]:
data.drop(0, inplace=True)
data.dropna(inplace=True)

data.reset_index(drop=True, inplace=True)

In [7]:
display(data)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
2,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
4,Almond Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Triples,G,C,110,2,1,250,0,21,3,60,25,3,1,0.75,39.106174
70,Trix,G,C,110,1,1,140,0,13,12,25,25,2,1,1,27.753301
71,Wheat Chex,R,C,100,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
72,Wheaties,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592193
73,Wheaties Honey Gold,G,C,110,2,1,200,1,16,8,60,25,1,1,0.75,36.187559

### 3. Use LabelEncoder

In [11]:
from sklearn.preprocessing import LabelEncoder

coder = LabelEncoder()
data['mfr'] = coder.fit_transform(data['mfr'])
data['type'] = coder.fit_transform(data['type'])

display(data)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,3,0,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
1,100% Natural Bran,5,0,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
2,All-Bran,2,0,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
3,All-Bran with Extra Fiber,2,0,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
4,Almond Delight,6,0,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Triples,1,0,110,2,1,250,0,21,3,60,25,3,1,0.75,39.106174
70,Trix,1,0,110,1,1,140,0,13,12,25,25,2,1,1,27.753301
71,Wheat Chex,6,0,100,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
72,Wheaties,1,0,100,3,1,200,3,17,3,110,25,1,1,1,51.592193
73,Wheaties Honey Gold,1,0,110,2,1,200,1,16,8,60,25,1,1,0.75,36.187559