# Boolean indexing

## Loading csv data

In [17]:
import pandas as pd

data = pd.read_csv('E:/DS/DataScience/data/nyc_flights.csv')
print(data.columns)
print(data.size)

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')
523760

## 1. Select data with condition on one feature

In [ ]:
=> We can apply many conditions like below:
    
    data['month'] > 6
    data['month'] >= 6
    data['month'] < 6
    data['month'] <= 6
    data['month'] == 6
    data['month'] != 6

In [19]:
# below code will give data which having data['month'] is > 6

last_six_mnth_data = data[data['month'] > 6]
# Noe print the size of data which having month > 6
print(last_six_mnth_data.size)

266176

In [20]:
# below code will give data which having data['month'] is > 6

first_six_mnth_data = data[data['month'] <= 6]
# Noe print the size of data which having month > 6
print(first_six_mnth_data.size)

257584

In [26]:
# Don't use this not comparison.
data[data['month'] <> 6]

SyntaxError: invalid syntax (<ipython-input-26-5f32734de134>, line 1)

In [67]:
x = data.loc[(data['month'] == 4) & (data['day'] < 20)]
print(x.head())

     year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier  \
35   2013      4   12       840         20      1240         28      B6
57   2013      4   15       625         -5       752        -13      AA
78   2013      4    8      1325         -5      1608          2      B6
89   2013      4    6       923         -6      1019        -25      EV
105  2013      4   12      1336         -4      1653         13      AA

    tailnum  flight origin dest  air_time  distance  hour  minute
35   N655JB     403    JFK  SJU       186      1598     8      40
57   N589AA     303    LGA  ORD       118       733     6      25
78   N354JB     127    EWR  MCO       130       937    13      25
89   N12563    4636    EWR  DCA        41       199     9      23
105  N3DBAA     753    LGA  DFW       210      1389    13      36

### Task : 
#### 1. write code for check wich lables are more, before 6 months or after 6 months.
####            2. Sum the before 6 months or after 6 months records and equating with total number of lables.

In [21]:
# Task -1

if (first_six_mnth_data.size > last_six_mnth_data.size):
    print('In the first 6 months, more people traveled.')
else:
    print('In the last 6 months, more people traveled.')

In the last 6 months, more people traveled.

In [23]:
# Task -2

x = (first_six_mnth_data.size + last_six_mnth_data.size) == data.size
print(x)

True

## 2. Select data with isin() function

In [ ]:
1. isin() function will return the data which is having the values what we are passing to isin().

In [57]:
# Data of ticket bookings in 3, 5 moths.

print(data[data['month'].isin([3,5])])

       year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier  \
1      2013      5    7      1657         -3      2104         10      DL
3      2013      5   14      1841         -4      2122        -34      DL
13     2013      3   25      2054        115      2256         91      FL
36     2013      5   13      1825         -4      2000        -35      DL
40     2013      3   13      1229         89      1342         87      MQ
...     ...    ...  ...       ...        ...       ...        ...     ...
32691  2013      5   17      1941        -14      2134         -5      EV
32693  2013      5   28       553         -7       750         -5      EV
32717  2013      3   28      1411         16      1521          1      WN
32724  2013      3   11       604          2       718         -8      EV
32734  2013      3   28      1813         -3      1942        -23      UA

      tailnum  flight origin dest  air_time  distance  hour  minute
1      N3760C     329    JFK  SJU       216      1598    16      57
3      N914DL    2391    JFK  TPA       135      1005    18      41
13     N919AT     645    LGA  ATL       104       762    20      54
36     N919DE    2131    LGA  DTW        77       502    18      25
40     N511MQ    3792    JFK  DCA        53       213    12      29
...       ...     ...    ...  ...       ...       ...   ...     ...
32691  N14998    4088    LGA  CLE        68       419    19      41
32693  N608QX    5592    LGA  MEM       133       963     5      53
32717  N245WN    2444    LGA  MDW       104       725    14      11
32724  N13955    4608    EWR  MKE       114       725     6       4
32734  N36272    1053    EWR  CLE        59       404    18      13

[5690 rows x 16 columns]

       year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier  \
35     2013      4   12       840         20      1240         28      B6
57     2013      4   15       625         -5       752        -13      AA
78     2013      4    8      1325         -5      1608          2      B6
89     2013      4    6       923         -6      1019        -25      EV
105    2013      4   12      1336         -4      1653         13      AA
...     ...    ...  ...       ...        ...       ...        ...     ...
32674  2013      4    3      1004          9      1301         -9      AA
32689  2013      4    9      1758         -2      2051        -49      AA
32708  2013      4    6      1359         -1      1528         -7      WN
32709  2013      4   19      2312        217       220        214      UA
32720  2013      4   17      1023         -7      1341        -24      VX

      tailnum  flight origin dest  air_time  distance  hour  minute
35     N655JB     403    JFK  SJU       186      1598     8      40
57     N589AA     303    LGA  ORD       118       733     6      25
78     N354JB     127    EWR  MCO       130       937    13      25
89     N12563    4636    EWR  DCA        41       199     9      23
105    N3DBAA     753    LGA  DFW       210      1389    13      36
...       ...     ...    ...  ...       ...       ...   ...     ...
32674  N3GEAA    1871    LGA  MIA       150      1096    10       4
32689  N324AA     177    JFK  SFO       335      2586    17      58
32708  N249WN    3748    LGA  BNA       112       764    13      59
32709  N529UA     768    EWR  LAX       335      2454    23      12
32720  N842VA     187    EWR  SFO       351      2565    10      23

[1776 rows x 16 columns]

### Task: Combination of isin() and normal condition (Topic 1, 2)

In [ ]:
Note: We can apply conditions on multiple columns as below.

In [70]:
x = data.loc[(data['month'].isin([5,6])) & ((data['day'] == 20) | (data['hour'] == 10))]
print(x)

       year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier  \
62     2013      6   20      2020         13      2257         -2      B6
82     2013      5    6      1016         -4      1158        -18      9E
94     2013      6   20      1729         23      1903         15      EV
306    2013      5   13      1028         -9      1138        -15      EV
358    2013      5   29      1052         -8      1225        -20      MQ
...     ...    ...  ...       ...        ...       ...        ...     ...
32405  2013      6    1      1049          3      1320         -7      B6
32451  2013      6    2      1059         -6      1355        -23      DL
32513  2013      5    3      1012         -3      1217         12      US
32583  2013      5   20      1026         26      1122         10      US
32586  2013      6   20      2035          5      2235        -10      9E

      tailnum  flight origin dest  air_time  distance  hour  minute
62     N598JB    1505    JFK  ABQ       232      1826    20      20
82     N916XJ    3341    EWR  DTW        80       488    10      16
94     N27962    5977    EWR  RDU        68       416    17      29
306    N10575    3826    EWR  BUF        48       282    10      28
358    N717MQ    4471    LGA  RDU        64       431    10      52
...       ...     ...    ...  ...       ...       ...   ...     ...
32405  N569JB      41    JFK  MCO       124       944    10      49
32451  N963DL     930    LGA  FLL       141      1076    10      59
32513  N114UW    1435    EWR  CLT        82       529    10      12
32583  N945UW    2122    LGA  BOS        37       184    10      26
32586  N8659B    4033    LGA  TYS        94       647    20      35

[462 rows x 16 columns]